@import url('https://fonts.googleapis.com/css?family=Tinos');


.body {
  background: white url('static/images/pwallpaper.png')
}
h1 {
  color: red;
  text-align: center;
  font-family: 'Tinos', serif;
}

.links {
    text-align: center;
}
